    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/homepage">KIRBY</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/post">Post</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">

                      <%= image_tag("kirbylogo.png", alt: "KBOY")  %>
                      <hr class="small">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

              <!-- START POST -->
            <div class="center">
              <div class="wrapper">
                <%= link_to image_tag("kboy.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
              </div>
            </div>

            <br>

            <div class="center">
              <div class="wrapper">
                <%= link_to image_tag("operationcode800.png", alt: "KBOY"), 'https://operationcode.org/' %>
              </div>
            </div>

            <br>



                <p>Hi my name is Kirby you can call me by my nickname "K-BOY".I am a self-taught developer , who loves to push 100 percent just to learn programming in general.</p>
                <p>I am originally from the <em>Philippines</em> and due to opportunities that my late grandfather had because of being a <em>World War II Veteran and a Purple Heart</em> recipient.We are given a chance to live in the <em>United States</em> and we are so grateful for all the opportunities.</p>
                  <blockquote cite="#">
                    <%= link_to image_tag("pinas.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                  </blockquote>
                <p>Like my late grandfather (US Army), I also served in the military, in the <em>United States Navy.</em>Served one tour during <em>Operation Inherent Resolve </em>and got to experience the different parts and culture around the world , it is truly a once in a lifetime experience and will be forever gratedful for it.</p>
                <blockquote cite="#">
                  <div class="">
                    <%= link_to image_tag("navy4x.png", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                    <p>Smile please!</p>
                    <%= link_to image_tag("pinas.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                    <%= link_to image_tag("pinas.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                    <%= link_to image_tag("pinas.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                  </div>
                </blockquote>

              <!-- END POST -->
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                          <a href="https://twitter.com/FernandezKboy">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/kirbyyy">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="https://github.com/kboygit">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">KIRBY &copy; 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="assets/jqBootstrapValidation.js"></script>
    <script src="assets/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="assets/clean-blog.min.js"></script>
