
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>

                <br>

                <!-- HEADER LOGO -->
                <a class="navbar-brand" href="/homepage">
                  <%= link_to image_tag("kirbylogo1.png", alt: "KBOY"), '/homepage'  %>
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/post">Post</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <%= render 'layouts/header/homepageheader' %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/post">
                        <h2 class="post-title">
                            Fundamentals , concepts , theories , understanding OOP . Study then study then study , eat , then sleep :).
                        </h2>
                        <h3 class="post-subtitle">
                            Another day of learning , learning ruby the hardway , how to integrate loading page , trying to understand alot of errors and what they really meant
                            ....
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 9, 2016</p>

                    <%= render 'layouts/favicons' %>
                    
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/post">
                      <h2 class="post-title">
                          This day is really slow just eat and code and eat and code and watch podcast /sob. /smile.
                      </h2>
                      <h3 class="post-subtitle">
                          Learning goal for this day is to to really learn deeply on applying test and integrate javascript on a rails application.But I still have a long way...
                      </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 8, 2016</p>

                    <%= render 'layouts/favicons' %>

                </div>
                <hr>
                <div class="post-preview">
                    <a href="/post">
                      <h2 class="post-title">
                          Family over everything.
                      </h2>
                      <h3 class="post-subtitle">
                          Of all the things we see from iphones,ipads, to the latest technology out there family still first.
                      </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 7, 2016</p>

                    <%= render 'layouts/favicons' %>

                </div>
                <hr>
                <div class="post-preview">
                    <a href="/post">
                      <h2 class="post-title">
                          Family over everything.
                      </h2>
                      <h3 class="post-subtitle">
                          Of all the things we see from iphones,ipads, to the latest technology out there family still first.
                      </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 7, 2016</p>

                    <%= render 'layouts/favicons' %>

                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

      <!-- FOOTER -->
        <%= render 'layouts/footer' %>

    <%= render 'layouts/scripts' %>
